// Color Theme Vars
$color-main: #19A89E;
$color-light: #EFEFEF;
$color-light-accent: #25AAE1;
$color-dark: #181746;
$color-dark-accent: #1175BC;
$color-copy: #86817D;
$color-header: #5A5A5A;
$color-white: #ffffff;
$color-black: #000000;


/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-copy {
  color: $color-copy;
}
.color-header {
  color: $color-header;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}
