/* ************************************************************************** */
/* Typography *************************************************************** */
/* ************************************************************************** */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,700;1,300&display=swap');


$font-primary:'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// General Font Setup
// Headers
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0 !important;
}

/* Primary Header */
h1 {
  font-family: $font-secondary;
  font-size: 3.75rem; // 60px
  line-height: 3.75rem;
  font-weight: 700;

}

h2 {
  font-family: $font-secondary;
  font-size: 1.875rem; // 30px
  line-height: 1.875rem;
  font-weight: 700;

  &.is-light {
    font-weight: 300 !important;
  }
  &.is-italic {
    font-style: italic;
  }
}

h3 {
  font-family: $font-primary;
  font-size: 1.25rem; // 20px
  line-height: 1.25rem;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: $font-primary;
}


//Body Text
.body-copy {
  font-size: 1.125rem; // 14px
  line-height: calc(1.125rem * 2);
  font-family: $font-primary;

  &.is-light {
    font-weight: 300;
  }

  &.is-italic {
    font-style: italic;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* Lead Text (hero) */
.lead-copy {
  font-size: 1.125rem; // 18px
  line-height: calc(1.125rem * 1.5);
  font-family: $font-primary;

  &.is-bold {
    font-weight: 700;
  }
}

/* Footer2 Text */
.small-copy {
  font-size: 15px;
  line-height: calc(12px * 1.5);
  font-family: $font-primary;
}
.fine-print {
  font-size: 12px;
  line-height: 18px;
  font-family: $font-primary;
  font-style: italic;
}

/* Text Modifiers */
.wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

input {
  font-family: $font-primary;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
}
